/*home*/
.navbar{
  margin-bottom: 0;
  border: 0;
}

.jumbotron{
  background: #e7e7e7;
}

/*owner profile*/
.navbar{
  margin-bottom: 0;
  border: 0;
}

.jumbotron{
  background: #e7e7e7;
}

.right {
  float: right !important;
}

@media (min-width: 979px) {

#midCol.affix-top {
  position:fixed;
  width:265px;
  margin-right:10px;

}

#midCol.affix {
  position:static;
  width:100%;
}

}

@media (min-width: 767px) {
  .affix,.affix-top {
    position:fixed;
  }
}
