<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxHz4nxwO8le4A_cvbpwSV9TeO8GCw2lE"></script>
  <!-- <script src="/css/styles.css" charset="utf-8"></script> -->
  <script src="/vendor/babel-core-5.8.25.js"></script>
  <script src="/vendor/react.js"></script>
  <script src="/vendor/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.7/react-bootstrap.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Walk Me - On-Demand Dog Walking</title>
  <style media="screen">
  body {
    background-color: #dce2c8 ;
  }
  </style>
</head>
<body>
  <div class="row">
    <div id="signIn" class="col-md-4 col-md-offset-4"></div>
  </div>
  <script type="text/babel" src="/js/ownerSignup.js"></script>
</body>
</html>
